.loan-info{
    background-color: #56B27B;
    width: 120%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 5%;  
}
.loan{
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
}
.lower{
    margin-top: 25px;
}
.add-color{
    background-color: #2b6c84;
    border-radius: 20px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}
.add{
    color: grey;
}
@media screen and (max-width: 770px) {
    .loan-info{
height: 150px;
    }
    .loan{
        display: grid;
        grid-template-areas: '. myArea myArea ';
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .item1 {
        grid-area: myArea;
        width: 60%;
        .add{
            font-size: smaller;
          }
      }
}

@media screen and (max-width: 360px) {
    .loan-info{
        display: none;
    }
    .loan{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dropdown{
        width: 65%;
    }
}
